/* TopicCreatePage.module.scss */
.page {
  width: 800px;
  margin: 0 auto;
  padding: 20px;

  &__createTopicForm {
    border: 1px solid $color-border;
    border-radius: 8px;
    padding: 20px;
    background-color: $color-background;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &__saveButton {
    width: fit-content;
    padding: 0 20px;
  }

  &__formGroup {
    margin-bottom: 10px;
    padding: 0 20px;
  }

  &__label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  &__input {
    width: 100%;
    padding: 8px;
    border: 1px solid $color-border;
    border-radius: 4px;
    outline: none;
    resize: none;
  }
}
