.customInput {
  width: 100%;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #1e1e1e;
  border: none;
  outline: none;
  border-bottom: 1px solid #3369f3;
  padding: 8px 0 7px;

  &_type_error {
    border-bottom-color: red;
  }
}