.customButton {
  font-size: 13px;
  font-weight: 400;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: 0.3s ease;

  &:hover {
    opacity: 0.6;
  }

  &_primary {
    background-color: $color-primary;
    color: white;
  }

  &_secondary {
    background-color: $white;
  }

  &_success {
    background-color: $color-succes;
  }

  &_danger {
    background-color: $color-danger;
  }

  &_transparent {
    padding: 0;
    background-color: transparent;
    width: fit-content;
    color: $color-primary;
    font-size: 9px;
  }
}
