.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 70px;
    background-color: inherit;
    box-shadow: 0 4px 4px 0 $color-shadow;
    display: flex;
    justify-content: center;
    align-items: center;

    &__linksWrap {
        max-width: 1280px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
    }

    &__menu {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header {
        height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .header {
        height: 40px;
        justify-content: flex-start;

        &__linksWrap {
            display: none;
        }

        &__menu {
            display: block;
            margin: 0 0 0 10px;
            padding: 0;
            border: none;
            background-color: inherit;
            width: 40px;
            height: 40px;
            
            &:hover {
                cursor: pointer;
                opacity: 0.5;
            }
        }

        &__overlay {
            background-color: $color-shadow;
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 11;
        }

        &__modal {
            position: fixed;
            top: 0;
            z-index: 12;
            width: 257px;
            height: 100vh;
            background: $white;
        }

        &__closeBtn {
            padding: 0;
            margin: 0;
            border: none;
            background-color: inherit;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 10px;
            left: 10px;
        }

        &__modalLinksWrap {
            display: flex;
            flex-direction: column;
            margin: 50px 0 0 10px;
        }
    }
}
