.gameButton {
  position: relative;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  border: unset;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 8px;
  padding: 10px;
  width: 100%;
  max-width: 97px;

  @media (max-width: 767px) {
    width: 100%;
    max-width: 85px;
  }

  &_image {
    max-height: 35px;
  }

  &_title {
    margin: 0;
    font-size: 12px;
  }

  &_count {
    align-items: center;
    background-color: $color-primary;
    border-radius: 50%;
    color: white;
    display: flex;
    height: 25px;
    justify-content: center;
    position: absolute;
    right: -5px;
    top: -5px;
    width: 25px;
  }

  &:hover {
    background-color: rgba(175, 175, 175, 0.8);
  }

  &_active {
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary;
    }
  }
}
