.mainForm {
  color: black;
  padding: 70px 30px 50px;
  box-shadow: 0 0 6px 0 rgb(12, 12, 13, 50%);
  border-radius: 12px;
  background-color: white;
  opacity: .9;

  &__title {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 40px;
    text-align: center;
  }

  &__form {
    margin: 0;
  }

  &__btnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}