.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  outline: none;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 420px;

  @media (max-width: 767px) {
    width: 372px;
  }
}

.main {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(9, auto);
  grid-template-rows: repeat(9, auto);
  max-width: 372px;
}

.gameHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  max-width: 372px;
  margin-bottom: -15px;

  &_button {
    outline: none;
    background-color: unset;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}

.gameButtons {
  display: flex;
  justify-content: space-between;

  width: 500px;

  @media (max-width: 767px) {
    width: 372px;
    gap: 20px;

    justify-content: center;
    flex-wrap: wrap;
  }
}
