.profilePage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 900px;
  margin: 0 auto;

  @media (width <= 767px) {
    width: 100%;
    padding: 16px;
    border-radius: 0;
  }

  @media (width >= 768px) and (width <= 1023px) {
    width: 600px;
  }

  @media (width >= 1024px) {
    width: 900px;
  }

  &__actions {
    justify-self: right;

    button {
      margin: 10px;
    }
  }

  &__card {
    background: $white;
    padding: 24px;
    width: inherit;
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 10%);
    position: relative;
  }

  &__avatarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ccc;
  }

  &__form {
    &__actions {
      justify-self: right;
    }

    &__fields {
      margin-top: 24px;
    }

    button {
      margin: 10px;
    }
  }
}

.button {
  all: unset;
  color: $color-primary;
  text-decoration: none;
  font-size: 12px;
  font-family: inherit;

  &:hover {
    cursor: pointer;
  }

  &__cancel {
    color: $color-danger;
  }
}
