$white: #fff;
$color-primary: #3369f3;
$color-secondary: #999;
$color-input: #efefef;
$color-border: #eaeaea;
$color-background: #f8f8f8;
$color-background-hover: #e4edfd;
$color-shadow: rgb(12, 12, 13, 0.5);
$color-text: #000;
