$white: #fff;
$black: #000;
$gray: #666;
$color-primary: #3369f3;
$color-secondary: #999;
$color-input: #efefef;
$color-border: #eaeaea;
$color-background: #f8f8f8;
$color-background-hover: #e4edfd;
$color-danger: #ff3d3d;
