.formField {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 500;
  font-size: 9px;
  padding-bottom: 16px;
  color: #1E1E1E;

  &:last-of-type {
    border-bottom: none;
  }

  &__text {
    font-size: 9px;
    color: $color-secondary;
  }

  &__error {
    position: absolute;
    max-width: 100%;
    font-size: 10px;
    color: red;
    transition: .3s;
    z-index: 10;
    bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}