.wrapper {
  padding: 12px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  align-items: center;

  &__label {
    color: $gray;
    font-size: 14px;
    display: flex;
    margin-bottom: 4px;
  }

  &__field {
    padding: 8px 0;
  }

  &__input {
    width: 100%;
    text-align: right;
    color: $black;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;

    &:disabled {
      color: $black;
      cursor: default;
    }
  }
}
