$button-text-color: #fff;
$button-color: black;
$button-color-hover: rgb(55, 55, 55);

.topic {
  border: 1px solid $color-border;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  background-color: $color-background;

  &:first-child {
    border-top-left-radius: $border-round;
    border-top-right-radius: $border-round;
  }

  &:last-child {
    border-bottom-left-radius: $border-round;
    border-bottom-right-radius: $border-round;
  }

  &__container {
    padding: 0;
  }
}

.info {
  display: grid;
  grid-template-columns: 3fr 1.5fr 1fr 4fr; // Разделение на 4 колонки
  gap: 10px;
  align-items: center;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  font-size: 0.9em;
  color: $gray;
}

.replies {
  text-align: center;
}

.title {
  text-align: start;
}

.link {
  text-decoration: none;
}

.createButton {
  background-color: $button-color;
  color: $button-text-color;
  border: 1px solid $color-border;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $button-color-hover;
  }
}

.preview {
  margin-top: 5px;
  font-size: 0.9em;
  color: $gray;
}
